<!-- since layout is inside folder called tasks -->
{% extends 'tasks/layout.html' %}

{% block body %}
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <!-- this piece of code goes to urls.py file and find the path which points to add-->
    <!-- basically the path with name attribute -->
    <!-- django finds the url whose name is add and links us directly to that route -->
    <a href="{% url 'tasks:add' %}">Add a New Task</a>
{% endblock body %}

